* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

#cabecera {
    background: #33A;
    color: white;
    font-weight: bold;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0;
    padding: 0;
}


#cabecera #tagline {
    margin: 0 0 0 1rem;
    font-weight: normal;
    font-size: .8rem;
}

header {
    width: 70%;
    padding: 1.6rem;
    border: 0.1rem solid #000;
    margin: 0 auto;
}

section {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section h1 {
    font-size: 2rem;
}

footer {
    background: gray;
    color: white;
    text-align: center;
}